{{#each this}}

<li class="gallery__item">
   <img class="gallery__img" src="./images/gallery-tamplate.jpg" alt="film preview" />
   <p class="gallery__name">GREYHOUND</p>
   <p class="gallery__info">
      <span class="gallery__genre">Drama, Action</span><span>2020</span>
   </p>
</li>

{{/each}}