<header class="header">
  <div class="container header__inner">
    <div class="header__main">
      <div class="header__top">
        <ul class="header__list list btn-list">
          <li class="btn-list__list-item">
            <a href="./index.html" class="btn-list__link link" data-home-page
              >home</a
            >
          </li>
          <li class="btn-list__list-item">
            <a
              href="./library.html"
              class="btn-list__link link current"
              data-library-page
              >my library</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="header__title-wrap">
      <div class="header__title-inner">
        <img
          class="header__title-img"
          src="./images/film.png"
          alt="Filmoteka"
          width="32"
          height="32"
        />
        <h1 class="header__title">Filmoteka</h1>
      </div>
      <ul class="btn-list list btn-search">
        <li class="btn-list__list-item">
          <button
            type="button"
            class="btn-list__link btn active-btn"
            data-watched
          >
            watched
          </button>
        </li>
        <li class="btn-list__list-item">
          <button type="button" class="btn-list__link btn" data-queue>
            queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
