<header class="header">
  <div class="container header__inner">
    <div class="header__main">
      <div class="header__top">
        <ul class="header__list list btn-list">
          <li class="btn-list__list-item">
            <a
              href="./index.html"
              class="btn-list__link link current"
              data-home-page
              >home</a
            >
          </li>
          <li class="btn-list__list-item">
            <a
              href="./library.html"
              class="btn-list__link link"
              data-library-page
              >my library</a
            >
          </li>
        </ul>
        <form action="#" class="header__form search-form">
          <label class="search-form__label">
            <input
              class="search-form__input"
              type="text"
              name="search"
              placeholder="Movie Search"
              data-input-search
          /></label>
          <img
            class="header__search-icon"
            src="./images/search.svg"
            alt=""
            width="14"
            height="14"
          />
        </form>
      </div>
      <p class="header__warning-text hidden">
        Search result not successful. Enter the correct movie name.
      </p>
    </div>

    <div class="header__title-wrap">
      <div class="header__title-inner">
        <img
          class="header__title-img"
          src="./images/film.png"
          alt="Filmoteka"
          width="32"
          height="32"
        />
        <h1 class="header__title">Filmoteka</h1>
      </div>
    </div>
  </div>
</header>
