.header {
  margin: 20px;

  @include tablet {
    margin: 32px;
  }

  &__inner {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;

    background-color: var(--primary-background-color);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 65.37%
      ),
      url(../images/header320.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
      background-image: url(../images/header320@2x.jpg);
    }

    @include tablet {
      height: 222px;
      background-image: url(../images/header768.jpg);
      @include retina {
        background-image: url(../images/header768@2x.jpg);
      }
    }

    @include desktop {
      height: 316px;
      background-image: url(../images/header1280.jpg);
      @include retina {
        background-image: url(../images/header1280@2x.jpg);
      }
    }
  }

  &__main {
    padding: 14px 14px 0px 14px;

    @include tablet {
      padding: 16px 16px 0px 16px;
    }

    @include desktop {
      padding: 16px 32px 0px 32px;
    }
  }

  &__top {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
    }
  }

  &__list {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    overflow: hidden;
    background: var(--white-color);
  }

  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    padding: 10px 26px;

    color: var(--primary-text-color);

    @media screen and (max-width: 280px) {
      font-size: 10px;
      padding: 10px 16px;
    }

    @include tablet {
      padding: 12px 24px;
    }
  }

  &__warning-text {
    width: 155px;
    font-size: 10px;
    line-height: 1.2;
    padding-left: 14px;

    color: var(--white-color);

    @media screen and (min-width: 767px) and (max-width: 1279px) {
      width: 135px;
    }
  }

  &__title-wrap {
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }

    @include tablet {
      padding-bottom: 16px;
      padding-left: 16px;
    }

    @include desktop {
      padding-bottom: 32px;
      padding-left: 32px;
    }
  }

  &__title-img {
    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    margin-left: 8px;
    color: var(--white-color);

    font-weight: 500;
    font-size: 32px;
    line-height: 1.1875;

    @include tablet {
      font-size: 40px;
      line-height: 1.175;
    }
  }
}

.current {
  color: var(--white-color);
  background: var(--primary-text-color);
}
